<p-dialog 
  [(visible)]="visible" 
  (visibleChange)="visibleChange.emit($event)"
  header="Add Event" 
  [modal]="true" 
  [style]="{ width: '450px' }">
  <form [formGroup]="eventForm" (ngSubmit)="submit()">
    <div class="p-fluid">
      <div class="p-field mb-4">
        <label for="name" class="block mb-2">Event Name</label>
        <input 
          id="name" 
          pInputText 
          formControlName="name" 
          placeholder="Enter event name"
        />
      </div>
  
      <div class="p-field mb-4">
        <label for="gender" class="block mb-2">Gender</label>
        <input 
          id="gender" 
          pInputText 
          formControlName="gender" 
          placeholder="Enter gender"
          [class.ng-invalid]="eventForm.get('gender')?.invalid && eventForm.get('gender')?.touched"
        />
        @if (eventForm.get('gender')?.invalid && eventForm.get('gender')?.touched) {
          <small class="p-error block">
            @if (eventForm.get('gender')?.errors?.['required']) {
              gender is required
            }
          </small>
        }
      </div>

      <div class="p-field mb-4">
        <label for="weightClass" class="block mb-2">Weight Class</label>
        <input 
          id="weightClass" 
          pInputText 
          formControlName="weightClass" 
          placeholder="Enter Weight class"
          [class.ng-invalid]="eventForm.get('gender')?.invalid && eventForm.get('weightClass')?.touched"
        />
        @if (eventForm.get('weightClass')?.invalid && eventForm.get('weightClass')?.touched) {
          <small class="p-error block">
            @if (eventForm.get('weightClass')?.errors?.['required']) {
              Weight Class is required
            }
          </small>
        }
      </div>

      <div class="p-field mb-4">
        <label for="ageGroup" class="block mb-2">Age Group</label>
        <input 
          id="ageGroup" 
          pInputText 
          formControlName="ageGroup" 
          placeholder="Enter Age Group"
          [class.ng-invalid]="eventForm.get('ageGroup')?.invalid && eventForm.get('ageGroup')?.touched"
        />
        @if (eventForm.get('ageGroup')?.invalid && eventForm.get('ageGroup')?.touched) {
          <small class="p-error block">
            @if (eventForm.get('ageGroup')?.errors?.['required']) {
              Age Group is required
            }
          </small>
        }
      </div>
  
      <div class="p-field">
        <button 
          pButton 
          type="submit" 
          label="Create" 
          [disabled]="eventForm.invalid" 
          class="p-button-primary">
        </button>
        <button 
          pButton 
          type="button" 
          label="Cancel" 
          (click)="closeDialog()" 
          class="p-button-secondary ml-2">
        </button>
      </div>
    </div>
  </form>
</p-dialog>