<div class="w-full">
    <div class="flex align-items-center flex-column lg:justify-content-center lg:flex-row  my-4">
        <div class="font-medium text-3xl text-900">Matchups</div>
    </div>
    <p-table 
        [value]="rounds"
        [loading]="loading"
        styleClass="p-datatable-gridlines p-datatable-striped" 
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
            <th class="text-left">Pariticipant 1</th>
            <th class="text-center">Score</th>
            <th class="text-right">Pariticipant 2</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-groupRounds>
            <tr>
            <td class="text-left">{{getParticipantName(groupRounds.participant1Id)}}</td>
            <td class="text-center">{{ groupRounds.participant1Score }} - {{ groupRounds.participant2Score }}</td>
            <td class="text-right">{{getParticipantName(groupRounds.participant2Id)}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3" class="text-center">No matches scheduled.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
