<div>
    <span (click)="toggleAssignParticipant()" class="text-blue-600 font-bold cursor-pointer">Assign Participants</span>
    <div class="w-full">
        <app-group-standings-table
            [participants]="participants"
            [loading]="loadingStandings"
            [rounds]="rounds">
        </app-group-standings-table>

        <app-group-matchups 
            [group]="group"
            [loading]="loadingMatchups">
        </app-group-matchups>
    </div>
</div>


<app-assign-group-participants
  [groupId]="groupId"
  [(visible)]="assignGroupParticipantsVisible" 
  (participantAssigned)="assignGroupParticipants($event)">
</app-assign-group-participants>