<p-dialog 
  [(visible)]="visible" 
  (visibleChange)="visibleChange.emit($event)"
  header="Create Category" 
  [modal]="true" 
  [style]="{ width: '450px' }">
  <form [formGroup]="eventForm" (ngSubmit)="submit()">
    <div class="p-fluid">
      <div class="p-field mb-4">
        <label for="name" class="block mb-2">Category Name</label>
        <input 
          id="name" 
          pInputText 
          formControlName="name" 
          placeholder="Enter event name (optional)"
        />
      </div>
  
      <div class="p-field">
        <button 
          pButton 
          type="submit" 
          label="Create" 
          [disabled]="eventForm.invalid" 
          class="p-button-primary">
        </button>
        <button 
          pButton 
          type="button" 
          label="Cancel" 
          (click)="closeDialog()" 
          class="p-button-secondary ml-2">
        </button>
      </div>
    </div>
  </form>
</p-dialog>